<h1>SendWiki</h1>
<p>Send Wikipedia article content via email. Created by <a href="http://twitter.com/mager" target="_blank">@mager</a>. View source on <a href="https://github.com/mager/sendwiki">Github</a>.</p>

<form method="post" action="/">
    <ol>
        <li>
            <label>Link: </label><input type="text" name="article" />
        </li>
        <li>
            <label>Email: </label><input type="text" name="email" />
        </li>
        <li>
            <input type="submit" name="submit" value="Send!" />
        </li>
    </ol>
</form>

